.payment-greeting{
    background: url(../../../Views/media/image/background/bg-image9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.payment-greeting-text{
    color:white;
}
