.bg-color-gray{
    background-color: #9D9D9D;
}

.bg-color-gradient{
    background: rgb(60,60,60);
    background: linear-gradient(87deg, rgba(60,60,60,1) 0%, rgba(105,105,105,1) 100%);
}

.main-logo{
    font-family: 'Pacifico', cursive;
    color: #ff99b9;
}

.card__icon{
    font-size: 1.5rem;
    color: #4e4e4e;
}